<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="InetBanking">

	<listeners>
		<listener class-name="com.inetBanking.testListeners.ExtentReportListener" />
	</listeners>
	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
			<classes>
				<class name="com.inetBanking.testCases.LoginPageTest" />
				<class name="com.inetBanking.testCases.AddCustomeDataPageTest" />
			</classes>
	</test>
</suite>